body {
  min-width: 100vh;
  margin: 0;
  height: auto;
  color: #FFFFFF;
}

.header .header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background-image: url(../images/background1.png);
  min-height: 820px;
}
.header form {
  display: flex;
  flex-direction: row;
}
.header form input {
  padding: 15px;
  width: 100%;
}
.header .scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .scroll a {
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 20px;
}

.nav-bar {
  background-color: #5474FD;
  width: 100%;
  margin-top: 0;
}
.nav-bar .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
}
.nav-bar .nav-content h4 {
  font-family: "Josefin Sans", sans-serif;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: end;
  font-family: "Aleo", serif;
}
.nav-bar li a {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 20px;
}
.nav-bar li a:hover {
  color: #3b4570;
  cursor: pointer;
}

.why-us {
  background-image: url(../images/background2.png);
  height: 685px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.why-us .why-us_text {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}
.why-us .why-us_text h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}
.why-us .why-us_text p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.why-us .why-us_images {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.why-us img {
  width: 320px;
  margin: 20px;
}

.img-lakehouse {
  position: relative;
  top: 20%;
}

.img-cliff {
  position: relative;
  left: 20%;
  top: 20%;
}

.icons_container {
  height: 340px;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}

.search-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search-icon i {
  color: #5474FD;
}

.check-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.check-icon i {
  color: #FF6363;
}

.thumb-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.thumb-icon i {
  color: #00A2FF;
}

.spain-section_first {
  background-image: url(../images/background3.png);
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spain-section_second {
  background-image: url(../images/background4.png);
  height: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.spain-card {
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.spain-card .card-theme {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
}
.spain-card .card-head {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.spain-card .card-p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.quote-section {
  background-image: url(../images/background5.png);
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-card {
  display: flex;
  flex-direction: row;
  background-color: #333333;
  width: 70%;
}
.quote-card h4 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}
.quote-card p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.quote-card i {
  color: #5474FD;
  font-size: 36px;
}

.quote-quote {
  padding: 20px;
}

footer {
  background-color: #232323;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-text h4 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
.footer-text p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

button {
  background-color: #496BFE;
  border: none;
  font-family: "Aleo", serif;
  color: #FFFFFF;
  padding: 10px;
  min-width: 42px;
  min-height: 42px;
}

button:hover {
  background-color: #7d91ea;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  body {
    min-width: 100vh;
    margin: 0;
  }
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
  }
  .why-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }
  .icons_container {
    height: 340px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    line-height: 26px;
  }
  .spain-section_first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .spain-section_second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .quote-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote-card {
    display: flex;
    flex-direction: column;
  }
  .quote-card h4 {
    font-family: "Aleo", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  .quote-card p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .quote-card i {
    color: #5474FD;
    font-size: 26px;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    line-height: 1, 5;
  }
  .nav-bar ul {
    display: flex;
    flex-wrap: wrap;
  }
}